ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li a {
    height: 22rem;
    width: 20rem;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    color: var(--red-color);
    background-color: #fff;
}

li a:hover {
    opacity: 0.9;
    cursor: pointer;
}

li a img {
    width: 100%;
    height: 70%;
    object-fit: contain;
    border-radius: 1rem;
}

.content {
    padding: 0 1rem;
    position: relative;
}

.name {
    margin-right: 1.5rem;
}

.favorite {
    margin-left: 3rem;
    font-size: 1.2rem;
}

.favorite.not {
    color: grey;
}

.price {
    color: #414141;
    margin-top: .7rem;
    display: flex;
    justify-content: center;
}


